body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2em;
  color: #2E2E3A;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-containter {
  border-radius: 20px;
  background-color: #F4F3F680;
  box-shadow: -20px 10px 5px 0 rgba(113, 107, 107, 0.75);
  padding: 10px 10px 10px 10px;
  width: auto;
  max-width: 900px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

button {
  font-size: 1rem;
  border-radius: 6px;
  background-color: #817198;
  color: white;
  box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.59);
}

button:hover {
  cursor: pointer;
  transform: translateY(10%);
  background-color: #A195B2;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button:focus {
  outline: none
}
